{
  "openapi": "3.1.0",
  "info": {
    "title": "deposit.now — Open x402 funding rail",
    "version": "3.4.0",
    "description": "Open x402 deposit API: pay 0.25% USDC on Base or Solana (min $0.001, max $0.25); net forwards to target on the same chain after settlement. Optional managed child wallets via provision:true (CDP Server Wallet on Base, platform-managed keys — no key export in v1). Optional public receipts. Complements Coinbase CDP Fund/Send. HTTP 200 payment_received does not guarantee funds already arrived at target.",
    "x-guidance": "POST /api/deposit with { target, amount, memo? } OR { provision: true, label, amount, memo? }. EVM target → pay on Base. Solana target → pay on Solana. Unpaid → 402 for gross = amount + 0.25% (min $0.001, max $0.25). Paid → payment_received + receiptUrl. Check forwardStatus on the receipt. Docs: https://deposit.now/docs",
    "contact": { "email": "support@deposit.now" }
  },
  "servers": [{ "url": "https://deposit.now" }],
  "paths": {
    "/api/deposit": {
      "post": {
        "operationId": "createDeposit",
        "summary": "Pay via x402 to fund a target or provisioned child wallet (net forward async)",
        "tags": ["Deposits"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "maxLength": 128 },
            "description": "Stable key for provision mode when label is omitted or for extra uniqueness"
          }
        ],
        "x-payment-info": {
          "price": { "mode": "dynamic", "currency": "USD", "description": "amount + 0.25% platform fee (min $0.001, max $0.25)" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount"],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Base EVM (0x) or Solana (base58) address receiving net USDC. Omit when provision is true. Pay the 402 on the same chain as this address.",
                  },
                  "amount": {
                    "type": "string",
                    "description": "Net USDC to forward to target (agent pays this + 0.25%, min $0.001, max $0.25)",
                    "examples": ["50.00"]
                  },
                  "memo": {
                    "type": "string",
                    "description": "Optional note (max 256 chars)"
                  },
                  "provision": {
                    "type": "boolean",
                    "description": "If true, create/resolve a managed CDP child wallet and fund it. Do not send target."
                  },
                  "label": {
                    "type": "string",
                    "description": "Stable child label (lowercase, digits, hyphens). Required with provision unless Idempotency-Key is set.",
                    "examples": ["trading-agent-1"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment accepted. Forwarding is async — inspect receiptUrl / forwardStatus.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": ["payment_received"],
                      "description": "payment_received means x402 payment accepted, not that target already holds net funds"
                    },
                    "forwardStatus": {
                      "type": "string",
                      "examples": ["pending", "settled", "forward_failed", "held"]
                    },
                    "target": { "type": "string" },
                    "provisioned": { "type": "boolean" },
                    "child": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "address": { "type": "string" },
                        "label": { "type": "string", "nullable": true },
                        "custody": { "type": "string", "examples": ["cdp_server_wallet"] },
                        "control": { "type": "string", "examples": ["platform_managed"] }
                      }
                    },
                    "depositAmount": { "type": "string" },
                    "fee": { "type": "string" },
                    "feePercent": { "type": "number" },
                    "grossPaid": { "type": "string" },
                    "paymentReceived": { "type": "boolean" },
                    "receiptId": { "type": "string" },
                    "receiptUrl": { "type": "string" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Pay amount + 0.25% USDC (min $0.001, max $0.25) via x402 exact scheme on Base or Solana (match target chain). Body includes target and optional child when provisioned."
          },
          "400": {
            "description": "Invalid target, amount, or provision parameters (ambiguous_target, missing_target, invalid_label, missing_provision_identity)."
          },
          "429": {
            "description": "Rate limit exceeded (including provision rate limit)."
          },
          "502": {
            "description": "Child wallet provisioning failed (CDP error)."
          },
          "503": {
            "description": "Provisioning unavailable (CDP credentials not configured)."
          }
        }
      },
      "get": {
        "operationId": "getDepositService",
        "summary": "Service metadata",
        "tags": ["Deposits"],
        "responses": {
          "200": {
            "description": "Service description and links."
          }
        }
      }
    },
    "/api/discovery": {
      "get": {
        "operationId": "getDiscovery",
        "summary": "Machine-readable discovery manifest",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Discovery JSON"
          }
        }
      }
    }
  }
}
