{
  "openapi": "3.1.0",
  "info": {
    "title": "deposit.now — Funding Layer for AI Agents",
    "version": "3.0.0",
    "description": "Programmable deposits via one x402 call. Fund any wallet (including sub-wallets / child agents). Agent pays amount + 1% fee in USDC on Base; net is forwarded to target. No accounts or API keys required for agents.",
    "x-guidance": "POST /api/deposit with { target, amount, memo? }. Unpaid requests receive HTTP 402 with x402 v2 requirements for gross = amount + 1%. Pay and retry with payment header. Docs: https://deposit.now/docs · llms: https://deposit.now/llms.txt",
    "contact": { "email": "support@deposit.now" }
  },
  "servers": [{ "url": "https://deposit.now" }],
  "paths": {
    "/api/deposit": {
      "post": {
        "operationId": "createDeposit",
        "summary": "Fund a target wallet via x402",
        "tags": ["Deposits"],
        "x-payment-info": {
          "price": { "mode": "dynamic", "currency": "USD", "description": "amount + 1% platform fee" },
          "protocols": [{ "x402": {} }]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target", "amount"],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "EVM address receiving net USDC",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "examples": ["0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb0"]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Net USDC to forward to target (agent pays this + 1%)",
                    "examples": ["50.00"]
                  },
                  "memo": {
                    "type": "string",
                    "description": "Optional note (max 256 chars)",
                    "examples": ["Fund child trading agent"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit accepted after x402 payment; net forward initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "examples": ["success"] },
                    "target": { "type": "string" },
                    "memo": { "type": "string", "nullable": true },
                    "depositAmount": { "type": "string" },
                    "fee": { "type": "string" },
                    "feePercent": { "type": "number" },
                    "grossPaid": { "type": "string" },
                    "paymentReceived": { "type": "boolean" },
                    "receiptId": { "type": "string" },
                    "receiptUrl": { "type": "string" },
                    "transactionId": { "type": "string" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Pay amount + 1% USDC via x402 exact scheme on Base mainnet."
          },
          "400": {
            "description": "Invalid target or amount."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      },
      "get": {
        "operationId": "getDepositService",
        "summary": "Service metadata",
        "tags": ["Deposits"],
        "responses": {
          "200": {
            "description": "Service description and links."
          }
        }
      }
    },
    "/api/discovery": {
      "get": {
        "operationId": "getDiscovery",
        "summary": "Machine-readable discovery manifest",
        "tags": ["Discovery"],
        "responses": {
          "200": {
            "description": "Discovery JSON"
          }
        }
      }
    }
  }
}
